# Application environment variables
PORT=31415

# Substack API Key (if direct integration eventually exists)
SUBSTACK_API_KEY=

# Bloomberg News RSS / API Key
BLOOMBERG_API_KEY=

# Yahoo News RSS / API Key
YAHOO_API_KEY=
