[submodule "calypso-blueprint"]
	path = calypso-blueprint
	url = https://github.com/superfield-ai/superfield-blueprint.git
[submodule "calypso-blueprint"]
	path = calypso-blueprint
	url = https://github.com/superfield-ai/superfield-blueprint.git
