[submodule "calypso-blueprint"]
	path = calypso-blueprint
	url = https://github.com/superfield-ai/calypso-blueprint.git
[submodule ".agents"]
	path = .agents
	url = https://github.com/superfield-ai/calypso-agents.git
[submodule "studio"]
	path = studio
	url = https://github.com/superfield-ai/calypso-studio.git
